[data-theme='dark'] body {
    background-color: #18191A;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

[data-theme='dark'] *::-webkit-scrollbar {
    width: 1.2rem;
}

[data-theme='dark'] *::-webkit-scrollbar-track {
    background: #888888;
    border: solid 2px #5e5d5d;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

[data-theme='dark'] *::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 2px solid #504d4d;
    background: #302f2f;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

[data-theme='dark'] header {
    background-image: linear-gradient(180deg, #1d480d 80%, #2c6816 90%, #2d8d07 100%);
}

[data-theme='dark'] .dark {
    border-radius: 15rem;
    background: radial-gradient(circle, #0909c3 45%, #0559a6 70%);
    -webkit-border-radius: 15rem;
    -moz-border-radius: 15rem;
    -ms-border-radius: 15rem;
    -o-border-radius: 15rem;
}

[data-theme='dark'] .card {
    background-color: #3a3b3c;
    color: #e3ebe3;
}

[data-theme='dark'] .card:hover {
    background-color: #303030;
    box-shadow: -5px 6px 20px #4e4e4e;
}

[data-theme='dark'] .card.total {
    background: linear-gradient(360deg, #2c6d29 0%, #369212 57%, #0cbd17 87%);
}

[data-theme='dark'] .card.total.changeColor {
    background: #be0720;
}

[data-theme='dark'] #data-table {
    color: #f1fff1;
    font: 700;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

[data-theme='dark'] #data-table thead th {
    background-color: #3a3b3c;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

[data-theme='dark'] #data-table td {
    background-color: #3a3b3c;
}

[data-theme='dark'] td.description {
    color: #d8e4d8;
}

[data-theme='dark'] td.expense {
    color: #fc2b23;
}

[data-theme='dark'] .modal {
    background: #3c3c3c;
    color: #f5fff6;
    font-weight: 400;
}

[data-theme='dark'] h2 {
    font-weight: 700;
    color: #f1fff1;
}

[data-theme='dark'] input {
    background-color: #f5fff6;
}

[data-theme='dark'] input:hover {
    border: 1px solid transparent;
    box-shadow: .9px .9px 10px #e3cce6;
}

[data-theme='dark'] input:focus {
    border: 1px solid transparent;
}

[data-theme='dark'] .newTransaction {
    background-image: linear-gradient(225deg, #F400A1 0%, #720e9e 50%, #2B86C5 100%);
}

[data-theme='dark'] footer {
    background: #242526;
    color: #b6b6b6;
}