    @media (min-width:700px) {
        html {
            font-size: 14px;
        }
        header {
            padding: 2rem 0 9rem;
        }
        header.animated {
            animation: headerAnimationToDesktop 1s 0s;
            -webkit-animation: headerAnimationToDesktop 1s 0s;
        }
        .light {
            position: relative;
            left: -20px;
        }
        .dark {
            position: relative;
            left: -20px;
        }
        #balance {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;
        }
        #balance {
            margin-top: -8rem;
        }
        logo,
        #swithTheme {
            margin: 0;
        }
        .new.button {
            opacity: 0;
            visibility: hidden;
        }
        #newTransaction {
            width: 100%;
            height: 85px;
            position: initial;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-top: 1rem;
            opacity: 1;
            visibility: visible;
        }
        .newTransaction {
            width: 80px;
            height: 80px;
            background-color: #FF3CAC;
            background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            visibility: visible;
            transform: rotate(-90deg);
            transition: .9s;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
            -webkit-transition: .9s;
            -moz-transition: .9s;
            -ms-transition: .9s;
            -o-transition: .9s;
        }
        .newTransaction:hover {
            cursor: pointer;
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
        }
        .newTransaction img {
            height: 40px;
            width: 40px;
        }
        .error.active {
            top: -30rem;
        }
        .error {
            width: 50vw;
            top: -600px;
        }
    }