    #transactions {
        display: block;
        width: 100%;
        overflow-x: auto;
    }
    
    #data-table {
        width: 100%;
        border-spacing: 0 0.4rem;
        color: #b4b9ce;
    }
    
    #data-table thead th {
        background-color: white;
        text-align: left;
        font-weight: 400;
        padding: 1rem 2rem;
    }
    
    #data-table td {
        background-color: white;
        padding: 1rem 2rem;
        font-weight: 400;
    }
    
    table tbody tr {
        opacity: 0.7;
    }
    
    table tbody tr:hover {
        opacity: 1;
    }
    
    table thead tr img {
        height: 20px;
        transform: scale(1.8);
    }
    
    table thead tr:nth-child(5),
    table tbody td:nth-child(5) {
        border-radius: 0 .8rem .8rem 0;
        cursor: pointer;
    }
    
    table thead tr:nth-child(1),
    table tbody td:nth-child(1) {
        border-radius: .8rem 0 0 .8rem;
        -webkit-border-radius: .8rem 0 0 .8rem;
        -moz-border-radius: .8rem 0 0 .8rem;
        -ms-border-radius: .8rem 0 0 .8rem;
        -o-border-radius: .8rem 0 0 .8rem;
    }
    
    table tbody tr:nth-child(4),
    table tbody td:nth-child(4) {
        cursor: pointer;
    }
    
    td.description {
        color: #363F5F;
    }
    
    td.income {
        color: #12A454;
    }
    
    td.expense {
        color: red;
    }
    
    #edit {
        height: 20px;
        width: 2rem;
        transform: scale(2);
        transition: .7s;
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
    }
    
    #edit:hover {
        transform: scale(2.5) rotate(360deg) rotateY(360deg);
        transition: .9s;
        -webkit-transition: .9s;
        -moz-transition: .9s;
        -ms-transition: .9s;
        -o-transition: .9s;
        -webkit-transform: scale(2.5) rotate(360deg) rotateY(360deg);
        -moz-transform: scale(2.5) rotate(360deg) rotateY(360deg);
        -ms-transform: scale(2.5) rotate(360deg) rotateY(360deg);
        -o-transform: scale(2.5) rotate(360deg) rotateY(360deg);
    }
    
    #remove {
        transition: .7s;
        -webkit-transition: .7s;
        -moz-transition: .7s;
        -ms-transition: .7s;
        -o-transition: .7s;
    }
    
    #remove:hover {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
    }